<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <!-- import CSS -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>

<style>
    .el-header, .el-footer {
    background-color: #B3C0D1;
    color: #333;
    text-align: center;
  }
  
  .el-aside {
    background-color: #D3DCE6;
    color: #333;
    text-align: center;
  }
  
  .el-main {
    background-color: #E9EEF3;
    color: #333;
    text-align: center;
  }
  
  /* body > .el-container {
    margin-bottom: 40px;
  } */
  


</style>

<body>
<div id="app">
    <el-container style="height: 900px">
        <el-header style="height: 100px; background-color: rgb(97, 190, 170); font-size: 50px">珠宝盘点展示
            <el-button type="primary" round v-on:click="open5" style="font-size: 30px">盘点</el-button>
        </el-header>
        <el-container>
            <el-aside style="width:800px">
                <el-container direction="vertical">
                <el-container v-for="m in message" style="margin-top: 5px">
                    <el-aside width="200px" style="height: 300px; background-color: rgb(0, 195, 255)">柜台{{ m }}</el-aside>
                    <el-container>
                        <el-header style="height: 50px">总数量{{ m }}</el-header>
                        <el-main style="height: 150px">
                            <el-row>
                                    <el-col :span="12" v-for="(o, index) in Jn" :key="o" >
                                        <el-card :body-style="{ padding: '0px' }">
                                        <img src='/public/images/手镯.jpg' alt='发生错误' class="image">
                                        <div style="padding: 14px;">
                                            <span>戒指{{ index }}<el-button type="text" class="button">数量{{ index }}</el-button></span>
                                        </div>
                                        </el-card>
                                    </el-col>
                            </el-row>
                        </el-main>
                    </el-container>
                </el-container>
                </el-container>
            </el-aside>
            <el-main style="background-color: #D3DCE6">
                <el-header style="height: 60px">盘点结果变化记录</el-header>
                    <el-container v-for="logunit in logs" style="margin-top: 5px">
                        <el-aside style="width: 150px; height: 80px; text-align: center; 
                        background-color: rgb(0, 195, 255)">变动时间{{ logunit }}</el-aside>
                        <el-main>变动内容{{ logunit }}</el-main>
                    </el-container>
            </el-main>
        </el-container>
        <el-footer style="background-color: rgb(230, 166, 121)"><a type="text" href="http://www.designchn.com/">成都德杉科技有限公司</a></el-footer>
    </el-container>

</div>

</body>
  <!-- import Vue before Element -->
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <!-- import JavaScript -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>

  <script>
    var app = new Vue({
    el: '#app',
    data: {
        message: [1, 2, 3, 4] ,
        logs: [1, 2, 3, 4, 5, 6, 7] ,
        Jn: [1, 2, 3, 4, 5, 6]
    } ,
    methods: {
      async open5() {
        this.$alert('<strong>这是 <i>HTML</i> 片段</strong>', 'HTML 片段', {
          dangerouslyUseHTMLString: true
        });
      }
    }
    })
  </script>
</html>